### Adding longtitude and latitude for mapping on Tableau

In [1]:
import pandas as pd
df = pd.read_csv('/Users/thiradatiamklang/Downloads/itineraries.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13519999 entries, 0 to 13519998
Data columns (total 24 columns):
 #   Column                             Dtype
---  ------                             -----
 0   legId                              object
 1   searchDate                         object
 2   flightDate                         object
 3   startingAirport                    object
 4   destinationAirport                 object
 5   travelDuration                     object
 6   isBasicEconomy                     bool
 7   isRefundable                       bool
 8   isNonStop                          bool
 9   totalFare                          float64
 10  totalTravelDistance                float64
 11  segmentsDepartureTimeEpochSeconds  object
 12  segmentsDepartureTimeRaw           object
 13  segmentsArrivalTimeEpochSeconds    object
 14  segmentsArrivalTimeRaw             object
 15  segmentsArrivalAirportCode         object
 16  segmentsDepartureAirportCode       object
 17  segmentsAirlineName                object
 18  segmentsAirlineCode                object
 19  segmentsEquipmentDescription       object
 20  segmentsDurationInSeconds          object
 21  segmentsDistance                   object
 22  segmentsCabinCode                  object
 23  dateDifference                     int64
dtypes: bool(3), float64(2), int64(1), object(18)
memory usage: 2.2+ GB

In [7]:
df['startingAirport'].unique()

array(['OAK', 'DEN', 'LGA', 'LAX', 'ATL', 'CLT', 'PHL', 'DTW', 'IAD',
       'JFK', 'DFW', 'BOS', 'EWR', 'SFO', 'ORD', 'MIA'], dtype=object)

In [8]:
import pandas as pd

# Sample airport information DataFrame (replace with your data)
airport_info = pd.DataFrame({
    'AirportCode': ['OAK', 'DEN', 'LGA', 'LAX', 'ATL', 'CLT', 'PHL', 'DTW', 'IAD', 'JFK', 'DFW', 'BOS', 'EWR', 'SFO', 'ORD', 'MIA'],
    'Latitude': [37.721290, 39.856096, 40.641311, 33.942791, 33.640444, 35.214011, 39.872013, 42.209918, 38.947007, 40.641311, 32.899809, 42.363062, 40.692500, 37.618817, 41.974162, 25.795865],
    'Longitude': [-122.221883, -104.673738, -73.778139, -118.408350, -84.427933, -80.947455, -75.240736, -83.530536, -77.455833, -73.778139, -97.040335, -71.007767, -74.168663, -122.375417, -87.907321, -80.290389]
})


# Merge the airport information DataFrame with your dataset for 'startingAirport'
df = df.merge(airport_info, left_on='startingAirport', right_on='AirportCode', how='left')
df.rename(columns={'Latitude': 'startingLatitude', 'Longitude': 'startingLongitude'}, inplace=True)

# Merge the airport information DataFrame with your dataset for 'destinationAirport'
df = df.merge(airport_info, left_on='destinationAirport', right_on='AirportCode', how='left')
df.rename(columns={'Latitude': 'destinationLatitude', 'Longitude': 'destinationLongitude'}, inplace=True)

# Print the updated DataFrame
print(df)

                                     legId  searchDate  flightDate  \
0         e1b137527b9175d7d930c3af82e70ae0  2022-04-19  2022-05-20
1         d813ebd107e3fa700206c0d96015da7a  2022-04-19  2022-05-20
2         e8ece5ad6f5962c696e06e031fc2a24a  2022-04-19  2022-05-20
3         c004a54681335100f326c9613b3c9448  2022-04-19  2022-05-20
4         4a42bbf77211b4afa7b9e14005949120  2022-04-19  2022-05-20
...                                    ...         ...         ...
13519994  beadd613c46554fa729a77b4037c9ec3  2022-04-23  2022-06-15
13519995  91cfacd351ca736a3ee1123d4d07a524  2022-04-23  2022-06-15
13519996  811f58a0e2609ad1c3a5c8745669a432  2022-04-23  2022-06-15
13519997  e7bdb6780786aecfcbf952aa6910ca06  2022-04-23  2022-06-15
13519998  246de99f674d932434ec729095931800  2022-04-23  2022-06-15

         startingAirport destinationAirport travelDuration  isBasicEconomy  \
0                    OAK                ATL        PT7H52M           False
1                    OAK                ATL        PT6H15M           False
2                    OAK                ATL         PT9H6M           False
3                    OAK                ATL        PT6H17M           False
4                    OAK                ATL       PT14H12M           False
...                  ...                ...            ...             ...
13519994             MIA                SFO        PT14H5M           False
13519995             MIA                SFO       PT11H18M           False
13519996             MIA                SFO       PT12H10M           False
13519997             MIA                SFO       PT12H10M           False
13519998             MIA                SFO        PT16H5M           False

          isRefundable  isNonStop  totalFare  ...  segmentsDurationInSeconds  \
0                False      False     103.98  ...                9180||10620
1                False      False     216.58  ...                4920||15600
2                False      False     216.58  ...                4920||15600
3                False      False     237.58  ...                5580||13980
4                False      False     307.21  ...                7500||17580
...                ...        ...        ...  ...                        ...
13519994         False      False     532.20  ...                6720||18300
13519995         False      False     541.60  ...               11940||23340
13519996         False      False     541.60  ...               11100||23400
13519997         False      False     541.60  ...               10800||23400
13519998         False      False     547.20  ...               10800||23400

         segmentsDistance segmentsCabinCode dateDifference AirportCode_x  \
0               943||1207      coach||coach             31           OAK
1              None||None      coach||coach             31           OAK
2              None||None      coach||coach             31           OAK
3              None||None      coach||coach             31           OAK
4               672||2178      coach||coach             31           OAK
...                   ...               ...            ...           ...
13519994        596||2135      coach||coach             53           MIA
13519995       1104||2566      coach||coach             53           MIA
13519996       1104||2566      coach||coach             53           MIA
13519997       1104||2566      coach||coach             53           MIA
13519998       1104||2566      coach||coach             53           MIA

         startingLatitude startingLongitude AirportCode_y destinationLatitude  \
0               37.721290       -122.221883           ATL           33.640444
1               37.721290       -122.221883           ATL           33.640444
2               37.721290       -122.221883           ATL           33.640444
3               37.721290       -122.221883           ATL           33.640444
4               37.721290       -122.221883           ATL           33.640444
...                   ...               ...           ...                 ...
13519994        25.795865        -80.290389           SFO           37.618817
13519995        25.795865        -80.290389           SFO           37.618817
13519996        25.795865        -80.290389           SFO           37.618817
13519997        25.795865        -80.290389           SFO           37.618817
13519998        25.795865        -80.290389           SFO           37.618817

         destinationLongitude
0                  -84.427933
1                  -84.427933
2                  -84.427933
3                  -84.427933
4                  -84.427933
...                       ...
13519994          -122.375417
13519995          -122.375417
13519996          -122.375417
13519997          -122.375417
13519998          -122.375417

[13519999 rows x 30 columns]

In [12]:
df[['destinationAirport', 'destinationLatitude', 'destinationLongitude', 'startingAirport', 'startingLatitude', 'startingLongitude']].head()

,destinationAirport,destinationLatitude,destinationLongitude,startingAirport,startingLatitude,startingLongitude
0,ATL,33.640444,-84.427933,OAK,37.72129,-122.221883
1,ATL,33.640444,-84.427933,OAK,37.72129,-122.221883
2,ATL,33.640444,-84.427933,OAK,37.72129,-122.221883
3,ATL,33.640444,-84.427933,OAK,37.72129,-122.221883
4,ATL,33.640444,-84.427933,OAK,37.72129,-122.221883

In [13]:
df.to_csv('/Users/thiradatiamklang/Desktop/AML/AT3/map.csv', index=False)